@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import "tailwindcss";

:root {
  --background: #080808;
  --foreground: #d1d5dc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

button {
  cursor: pointer;
}

.font-dancing-script {
  font-family: 'Dancing Script', cursive;
}

::-webkit-scrollbar {
  display: none;
}